{% extends "site/base.html" %}
{% load static %}


{% block content %}

	<h1 class="ff-fjalla text-uppercase fs-64 mt-5">
		Exemplo
	</h1>

	<p class="ff-poppins fs-20 mt-3">
		Enviaremos por e-mail, um resumo neste formato do que foi encontrado referente ao imóvel avaliado
	</p>

	<ul class="checklist-real-estate">
		<li class="ok">Hipoteca <i class="fa fa-check-circle float-right fs-30"></i></li>
		<li class="ok">Penhora <i class="fa fa-check-circle float-right fs-30"></i></li>
		<li class="ok">Alienação <i class="fa fa-check-circle float-right fs-30"></i></li>
		<li class="not-ok">Indisponibilidade de Bens <i class="fa fa-check-circle float-right fs-30"></i></li>
		<li class="ok">Dívidas <i class="fa fa-check-circle float-right fs-30"></i></li>
		<li class="not-ok">Dívida Trabalhista <i class="fa fa-check-circle float-right fs-30"></i></li>
		<li class="ok">Dívida Estadual <i class="fa fa-check-circle float-right fs-30"></i></li>
		<li class="ok">Dívida Federal <i class="fa fa-check-circle float-right fs-30"></i></li>
	</ul>

    <a href="{% url "dashboard:signup" %}" class="btn btn-primary mt-5 text-uppercase fs-16 ff-poppins font-weight-bold">Solicitar Análise <i class="fas fa-arrow-right"></i></a>

{% endblock %}