{% extends "site/base.html" %}


{% block content %}
    <h1 class="ff-fjalla text-uppercase fs-64 mt-10">
        Verifique a situação <br>
        do imóvel desejado.
    </h1>

    <p class="ff-poppins fs-20">
        Analisamos o histórico do imóvel desejado, casa,<br>
        apartamento ou terreno.
    </p>

    <a href="{% url "dashboard:signup" %}" class="btn btn-primary mt-5 text-uppercase fs-16 ff-poppins font-weight-bold">Vamos Começar <i class="fas fa-arrow-right"></i></a>
{% endblock %}