{% extends "site/base.html" %}


{% block content %}
    <h1 class="ff-fjalla text-uppercase fs-64 mt-10">
        Verifique a documentação <br>
        do imóvel desejado.
    </h1>

    <p class="ff-poppins fs-20">
        Analisamos o histórico do imóvel desejado, e informamos de um jeito simples pra você.
    </p>

    <a href="{% url "site:how-it-works" %}" class="btn btn-primary mt-3 text-uppercase fs-16 ff-poppins font-weight-bold">Vamos Começar <i class="fas fa-arrow-right"></i></a>
{% endblock %}