{% extends "site/base.html" %}


{% block content %}

	<h1 class="ff-fjalla text-uppercase fs-64 mt-5">
		Como Funciona?
	</h1>

	<p class="ff-poppins fs-20 mt-3">
		A consulta de dados reúne algumas das informações mais valiosas que são necessárias na hora de comprar ou vender um imóvel.
	</p>
	<p class="ff-poppins fs-20 mt-3">
		Nosso serviço consiste em fazer uma análise para descobrir se há ou não, a ocorrência dos itens listados abaixo. De acordo com a análise da matrícula atualizada do imóvel.
	</p>

	<div class="row mt-5">
		<div class="col-md-3">
			<a href="#" data-toggle="modal" data-target="#itemmodal" class="item-tag">
				Hipoteca
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" data-toggle="modal" data-target="#itemmodal" class="item-tag">
				Penhora
			</a>
		</div>
		<div class="col-md-6">
			<a href="#" data-toggle="modal" data-target="#itemmodal" class="item-tag">
				Indisponibilidade de Bens
			</a>
		</div>
		<div class="col-md-6">
			<a href="#" data-toggle="modal" data-target="#itemmodal" class="item-tag">
				Certidão trabalhista
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" data-toggle="modal" data-target="#itemmodal" class="item-tag">
				Dívidas
			</a>
		</div>
		<div class="col-md-3">
			<a href="#" data-toggle="modal" data-target="#itemmodal" class="item-tag">
				Alienação
			</a>
		</div>
		<div class="col-md-12">
			<a href="#" data-toggle="modal" data-target="#itemmodal" class="item-tag">
				Confirmação do proprietário informado
			</a>
		</div>
		<div class="col-md-6">
			<a href="#" data-toggle="modal" data-target="#itemmodal" class="item-tag">
				Certidão Estadual
			</a>
		</div>
		<div class="col-md-6">
			<a href="#" data-toggle="modal" data-target="#itemmodal" class="item-tag">
				Certidão Federal
			</a>
		</div>
	</div>

{% endblock %}