{% extends "site/base.html" %}


{% block content %}

	<h1 class="ff-fjalla text-uppercase fs-64 mt-5">
		Meus Pedidos <a href="{% url "site:how-it-works" %}" class="btn btn-secondary float-right">Como Funciona <i class="fas fa-question-circle"></i></a>
	</h1>

	<p class="ff-poppins fs-20 mt-3">
		Para maiores análises, abra um ticket. Nós enviaremos um orçamento em menos de 48 horas.
	</p>

	<div class="text-primary shadow rounded p-5">
	  <div class="font-weight-bold fs-20"><i class="far fa-check-circle"></i> Hipoteca</div>
	  <div class="font-weight-bold mt-4 fs-20"><i class="far fa-check-circle"></i> Penhora</div>
	  <div class="font-weight-bold mt-4 fs-20"><i class="far fa-check-circle"></i> Indisponibilidade de bens</div>
	  <div class="font-weight-bold mt-4 fs-20"><i class="far fa-check-circle"></i> Certidão Trabalhista</div>
	  <div class="font-weight-bold mt-4 fs-20"><i class="far fa-check-circle"></i> IPTU (não disponível para todas as localidades)</div>
	  <div class="font-weight-bold mt-4 fs-20"><i class="far fa-check-circle"></i> Alienação Fidunciária</div>
	  <div class="font-weight-bold mt-4 fs-20"><i class="far fa-check-circle"></i> Confirmação do proprietário informado</div>
	  <div class="font-weight-bold mt-4 fs-20"><i class="far fa-check-circle"></i> Certidão Estadual</div>
	  <div class="font-weight-bold mt-4 fs-20"><i class="far fa-check-circle"></i> Certidão Federal</div>

	  <div class="border-left border-4 mt-5 border-primary">
			<h2 class="ml-3 fs-30 font-weight-bold">
				<span class="text-dark fs-12 text-uppercase">Valor Total</span><br>
				52,90
			</h2>
		</div>
	</div>

	<a href="{% url "site:step-3" %}" class="btn btn-primary mt-5 text-uppercase fs-16 ff-poppins font-weight-bold">Ir para checkout <i class="fas fa-arrow-right"></i></a>
{% endblock %}