{% extends "site/base.html" %}
{% load static %}


{% block content %}

	<h1 class="ff-fjalla text-uppercase fs-64 mt-5">
		Checkout
	</h1>

	<p class="ff-poppins fs-20 mt-3">
		Complete os campos com os dados do seu cartão.
	</p>

	<div class="text-primary shadow rounded p-5">
			<h5 class="fa-poppins font-weight-bold text-dark mb-5">Dados do cartão</h5>
		  <div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="text-uppercase fs-12">Nome do titular</label>
					<input type="text" class="form-control" placeholder="Ex: Luciano Camargo">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="text-uppercase fs-12">Número do cartão</label>
					<input type="text" class="form-control" placeholder="Ex: 0000 0000 0000 0000">
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
					<label class="text-uppercase fs-12">Validade</label>
					<input type="text" class="form-control" placeholder="Ex: 10/2030">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="text-uppercase fs-12">CVC <i class="fas fa-question-circle"></i></label>
					<input type="text" class="form-control" placeholder="Ex: 000">
				</div>
			</div>
			<div class="col-md-12 text-right">
				<div class="mt-3">
					<h3 class="text-uppercase text-dark fs-16 font-weight-bold ff-poppins">Seu pagamento sera processado pela:</h3>
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Logo_PagSeguro.png/800px-Logo_PagSeguro.png" width="200" class="mr-4">
					<img src="{% static "img/bandeiras.png" %}">
				</div>
			</div>
		</div>
	</div>

	<a href="#" class="btn btn-primary mt-5 text-uppercase fs-16 ff-poppins font-weight-bold">Finalizar Compra <i class="fas fa-arrow-right"></i></a>&nbsp;&nbsp;
	<a href="#" class="btn btn-light mt-5 text-uppercase fs-16 ff-poppins font-weight-bold">Ou Pagar com Boleto <i class="fas fa-barcode"></i></a>
{% endblock %}