{% extends "site/base.html" %}


{% block content %}

		<h1 class="ff-fjalla text-uppercase fs-64 mt-5">
			VAMOS ENCONTRAR O<br>
			IMÓVEL
		</h1>

		<p class="ff-poppins fs-20 mt-3">
			Para conseguir toda a documentaçao é muito simples. Busque pelo Estado, CEP, Matrícula, Endereço, Nome do Proprietário ou o Tipo do Imóvel desejado (Apartamento, casa, etc).
		</p>

		<div class="row mt-5">
			<div class="col-md-12">
				<div class="form-group">
					<label class="text-uppercase fs-12">Endereço (Obrigatório)</label>
					<input type="text" class="form-control" placeholder="Ex: Rua Marechal Floriano Peixoto">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="text-uppercase fs-12">Matrícula (Número)</label>
					<input type="text" class="form-control" placeholder="Ex: 00000">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="text-uppercase fs-12">Tipo do imóvel</label>
					<select name="" class="form-control">
						<option value="">-- Selecione o tipo --</option>
						<option value="">Apartamento</option>
						<option value="">Casa</option>
						<option value="">Terreno</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="text-uppercase fs-12">Nome do proprietário (opcional)</label>
					<input type="text" class="form-control" placeholder="Ex: João Paulo da Silva">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="text-uppercase fs-12">Complemento (opcional)</label>
					<input type="text" class="form-control" placeholder="Ex: Bloco b, ap 200">
				</div>
			</div>
		</div>

		<a href="{% url "site:step-2" %}" class="btn btn-primary mt-5 text-uppercase fs-16 ff-poppins font-weight-bold">Solicitar Análise <i class="fas fa-arrow-right"></i></a>

{% endblock %}