{% extends "dashboard/base.html" %}
{% load static %}

{% block page_name %}
    {% if analyze %}
        PERÍCIA {{ analyze.code }}
    {% endif %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% if analyze.state == 'analyzed' %}
                <p class="mt-3">Seu imóvel, possui alguma irregularidade, quer soluciona-la? Clique no botão abaixo e solicite um orçamento.</p>
                <a href="#" class="btn btn-warning">Solicitar Orçamento</a>
            {% endif %}

            <div class="card mt-4 shadow">
                <div class="card-body">
                   Solicitada em: <strong>{{ analyze.created }}</strong><br>
                    <hr>
                   CEP: <strong>{{ analyze.zipcode }}</strong><hr>
                   Endereço: <strong>{{ analyze.address }}</strong><hr>
                   Número: <strong>{{ analyze.number }}</strong><hr>
                   Matrícula: <strong>{{ analyze.registration_number }}</strong><hr>
                   Quadra: <strong>{{ analyze.block }}</strong><hr>
                   Lote: <strong>{{ analyze.lot }}</strong>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            {% if analyze.state != 'analyzed' %}
                <div class="alert mt-3 alert-warning shadow-sm">
                    <strong>Perícia em andamento, aguarde... <i class="fas fa-clock"></i></strong><br>
                    <hr>
                    Sua perícia é feita normalmente em até 24 horas. Dependendo das datas festivas e dos cartórios, esse prazo pode aumentar para até 5 dias úteis.
                </div>
            {% else %}
                <ul class="checklist-real-estate mt-3">
                    {% for report in reports %}
                        <li class="{% if report.state == 'ok' %}ok{% else %}not-ok{% endif %}" data-toggle="popover" data-container="body" data-placement="top" data-content="{{ report.indicator.description }}">
                            {% if report.state == 'ok' %}
                                <i class="fa fa-check-circle float-right fs-30"></i>
                            {% else %}
                                <i class="fas fa-times-circle float-right fs-30"></i>
                            {% endif %}

                            <small>{{ report.indicator.name }}</small><br>

                            {% if report.observation %}
                                {{ report.observation }}
                            {% elif report.indicator.observation_ok and report.state == 'ok' %}
                                {{ report.indicator.observation_ok }}
                            {% elif report.indicator.observation_not_ok and report.state == 'not_ok' %}
                                {{ report.indicator.observation_not_ok }}
                            {% endif %}

                            <a href="#" class="indicator-details-link" data-toggle="tooltip" data-placement="top" title="Mais informações"><span style="display: block; height: 100%;"><i class="fas fa-question-circle"></i> <br>.<br>.</span></a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
    $(function () {
      $('[data-toggle="popover"]').popover();
      $('[data-toggle="tooltip"]').tooltip();

      $(document).on('focus', ':not(.popover)', function(){
        $('.popover').popover('hide');
        $('.tooltip').tooltip('hide');
    });

      $('[data-toggle=popover]').on('click', function (e) {
           $('[data-toggle=popover]').not(this).popover('hide');
        });

      $('.indicator-details-link').on('click', function (e) {
          e.preventDefault();
          $(this).closest('li').popover('show');
      });

    });
    </script>
{% endblock %}