{% extends "dashboard/base.html" %}
{% load static %}

{% block page_name %}
    {% if analyze %}
        ACOMPANHANDO ANÁLISE
    {% else %}
        NOVA ANÁLISE
    {% endif %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <p class="mb-4">Para uma análise precisa, precisamos do máximo de informações referentes ao imóvel</p>
            <hr class="mb-4">

            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>CEP</label>
                            <input type="text" class="form-control" placeholder="00.000-000" name="zipcode">
                            {% for error in form.zipcode.errors %}
                              <small><strong class="text-danger">{{ error }}</strong></small>
                          {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Endereço</label>
                            <input type="text" class="form-control" placeholder="Rua de exemplo sem número" name="address">
                            {% for error in form.address.errors %}
                              <small><strong class="text-danger">{{ error }}</strong></small>
                          {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Número</label>
                            <input type="text" class="form-control" placeholder="000" name="number">
                            {% for error in form.number.errors %}
                                  <small><strong class="text-danger">{{ error }}</strong></small>
                              {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Mátricula ou quadra e lote</label>
                            <input type="text" class="form-control" placeholder="nº matrícula" name="registration_number">
                              {% for error in form.registration_number.errors %}
                              <small><strong class="text-danger">{{ error }}</strong></small>
                          {% endfor %}
                        </div>
                    <div class="col-md-4">
                        <label>&nbsp;2</label>
                        <input type="text" class="form-control" placeholder="nº quadra" name="block">
                            {% for error in form.block.errors %}
                          <small><strong class="text-danger">{{ error }}</strong></small>
                      {% endfor %}
                    </div>
                    <div class="col-md-4">
                        <label>&nbsp;</label>
                        <input type="text" class="form-control" placeholder="nº lote" name="lot">
                            {% for error in form.lot.errors %}
                          <small><strong class="text-danger">{{ error }}</strong></small>
                      {% endfor %}
                    </div>
                </div>

                <button type="submit" class="btn float-right btn-dark mt-4 btn-sm">SOLICITAR ANÁLISE</button>
            </form>
        </div>

        <div class="col-md-6">

        </div>
    </div>
{% endblock %}