{% extends "dashboard/base.html" %}
{% load static %}

{% block page_name %}
    {% if analyze %}
        ACOMPANHANDO ANÁLISE
    {% endif %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-3">
                <div class="card-body">
                    <h4>DADOS</h4>
                    <hr>
                    Solicitação realizada em: <strong>{{ analyze.created }}</strong><br>
                   CEP: <strong>{{ analyze.zipcode }}</strong><br>
                   Endereço: <strong>{{ analyze.address }}</strong><br>
                   Número: <strong>{{ analyze.number }}</strong><br>
                   Matrícula: <strong>{{ analyze.registration_number }}</strong><br>
                   Quadra: <strong>{{ analyze.block }}</strong><br>
                   Lote: <strong>{{ analyze.lot }}</strong><br>
                </div>
            </div>

        </div>

        <div class="col-md-6">

                    <h4 class="text-uppercase font-weight-bold text-uppercase fs-20">Do Imóvel</h4>

                    <ul class="checklist-real-estate">
                        <li class="ok">Hipoteca <i class="fa fa-check-circle float-right fs-30"></i></li>
                        <li class="ok">Penhora <i class="fa fa-check-circle float-right fs-30"></i></li>
                        <li class="ok">Alienação <i class="fa fa-check-circle float-right fs-30"></i></li>
                        <li class="not-ok">Indisponibilidade de Bens <i class="fa fa-check-circle float-right fs-30"></i></li>
                        <li class="ok">Dívidas <i class="fa fa-check-circle float-right fs-30"></i></li>
                    </ul>

                    <h4 class="text-uppercase font-weight-bold text-uppercase fs-20">Do Proprietário</h4>

                    <ul class="checklist-real-estate">
                        <li class="not-ok">Dívida Trabalhista <i class="fa fa-check-circle float-right fs-30"></i></li>
                        <li class="ok">Dívida Estadual <i class="fa fa-check-circle float-right fs-30"></i></li>
                        <li class="ok">Dívida Federal <i class="fa fa-check-circle float-right fs-30"></i></li>
                    </ul>

        </div>
    </div>
{% endblock %}