{% extends "dashboard/base.html" %}

{% block page_name %}CRÉDITOS{% endblock %}

{% block content %}
    <p>Aqui você acompanha o status financeiro da sua conta. Realize suas recargas e comece a usar.</p>

    <hr>

    <div class="row mt-4">
        <div class="col-md-6">
            <small>Seu saldo atual em Reais é de:</small>
            <h1><strong>{{ account.credit|floatformat:2 }}</strong></h1>

            <hr>

            <div class="row">
                <div class="col-md-4">
                    <input type="number" id="amount" class="form-control form-control-lg mb-4" value="52.90" step="1">
                </div>
                <div class="col-md-8">
                    <p class="mt-3"><small>Digite o valor em Reais que deseja adicionar de crédito a sua conta.</small></p>
                </div>
            </div>



            <div class="alert alert-danger fs-14 rounded-0">
                <p class="mb-1"><i class="fas fa-coins"></i> O valor minímo de crédito que pode ser adicionado a sua conta é de R$ 52,90.</p>
                <p class="mb-1"><i class="fas fa-credit-card"></i> Pagamentos feitos através de cartão de crédito, são processados no mesmo instante em sua conta.</p>
                <p class="mb-0"><i class="fas fa-barcode"></i> Pagamentos feitos através de boleto bancário, podem levar até 3 dias úteis.</p>
            </div>

            <p>Por motivos de segurança, usamos a Iugu como meio de pagamento, por favor, clique no botão para colocar créditos.</p>
            <hr class="border-0">

            <a href="#" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#card-modal" id="pagar-com-iugu">
                <h1><i class="fas fa-credit-card"></i></h1>
                <small class="text-uppercase fs-20">Pagar</small>
            </a>
        </div>

        <div class="col-md-6">
            <hr class="mt-5 mb-5 d-lg-none">

            <h5 class="mb-3"><i class="fas fa-history"></i> HISTÓRICO</h5>

            <p><small>Suas faturas aparecem aqui, você pode acompanhar todo o histórico de valores creditados para organizar as finanças.</small></p>

            <table class="table shadow-sm table-bordered tablesaw" data-tablesaw-mode="stack">
                <thead>
                    <tr class="fs-12">
                        <th>DATA</th>
                        <th>VALOR</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for charge in charges %}
                        <tr>
                            <td>{{ charge.created }}</td>
                            <td>{{ charge.amount }}</td>
                            <td>{{ charge.state }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        jQuery(function ($) {
            $('#pagar-com-iugu').click(function (e) {
                e.preventDefault();

                var amount = $('#amount').val();
                var code = $('#code');
                var $this = this;

                Swal.showLoading();


                if (parseFloat(amount) < 52.90) {
                    Swal.fire(
                      'Opsss!',
                      'O valor do crédito inserido é menor que R$ 52,90, colque outro valor.',
                      'error'
                    );
                } else {
                    $.post('{% url "dashboard:create-payment" %}', {amount: amount}, function (response) {
                       window.location.href = response.url;
                    });
                }
            });
        });
    </script>
{% endblock %}