{% extends "dashboard/base.html" %}

{% block page_name %}PAINEL{% endblock %}

{% block content %}
    <h5 class="text-uppercase font-weight-bold mt-5">Suas Análises</h5>

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" class="form-control fs-14" placeholder="Pesquise por matrícula, endereço ou quadra e lote" name="s" value="{{ s }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group float-left">
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                <a href="{% url "dashboard:new-analyze" %}" class="btn btn-warning btn-sm"><i class="fas fa-plus"></i> NOVA ANÁLISE</a>
            </div>
        </div>
    </div>

    <table class="table table-bordered shadow-sm mt-4">
        <thead class="text-uppercase fs-12">
            <th><i class="fas fa-barcode"></i> Código</th>
            <th><i class="fas fa-city"></i> Solicitado em</th>
            <th><i class="fas fa-map-marked-alt"></i> CEP</th>
            <th><i class="fas fa-map-marked-alt"></i> Endereço</th>
            <th><i class="fas fa-file-invoice"></i> Matrícula</th>
            <th><i class="fas fa-file-invoice"></i> Quadra</th>
            <th><i class="fas fa-file-invoice"></i> Lote</th>
            <th><i class="fas fa-thermometer-quarter"></i> Situação</th>
        </thead>
        <tbody class="fs-14 text-right">
            {% for analyze in analyzes %}
                <tr>
                    <td><a href="{% url "dashboard:follow-analyze" %}?code={{ analyze.id }}">{{ analyze.code }}</a></td>
                    <td>{{ analyze.created }}</td>
                    <td>{{ analyze.zipcode }}</td>
                    <td>{{ analyze.address }}</td>
                    <td>{{ analyze.registration_number }}</td>
                    <td>{{ analyze.block }}</td>
                    <td>{{ analyze.lot }}</td>
                    <td><h6 class="m-0"><span class="badge badge-info">{{ analyze.state }}</span></h6></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<!-- 
    <nav class="mt-4 float-right">
      <ul class="pagination fs-14">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Próxima</a>
        </li>
      </ul>
    </nav> -->
{% endblock %}