{% extends "dashboard/base.html" %}

{% block page_name %}PAINEL{% endblock %}

{% block content %}
    <h5 class="text-uppercase font-weight-bold mt-5">Suas Análises</h5>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control fs-14" placeholder="MATRÍCULA">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group float-left">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                <a href="#" class="btn btn-warning btn-sm"><i class="fas fa-plus"></i> NOVA ANÁLISE</a>
            </div>
        </div>
    </div>

    <table class="table table-bordered shadow-sm mt-4">
        <thead class="text-uppercase fs-12">
            <th><i class="fas fa-city"></i> Solicitado em</th>
            <th><i class="fas fa-city"></i> UF</th>
            <th><i class="fas fa-city"></i> Cidade</th>
            <th><i class="fas fa-map-marked-alt"></i> Endereço</th>
            <th><i class="fas fa-file-invoice"></i> Matrícula</th>
            <th><i class="fas fa-thermometer-quarter"></i> Status</th>
        </thead>
        <tbody class="fs-14 text-right">
            <tr>
                <td>10/10/2018 15:30</td>
                <td>PR</td>
                <td>Curitiba</td>
                <td>Rua Macapa 204, JD Aurora</td>
                <td>012398801</td>
                <td><h6 class="m-0"><span class="badge badge-info">Solicitado</span></h6></td>
            </tr>
            <tr>
                <td>10/10/2018 15:30</td>
                <td>PR</td>
                <td>Curitiba</td>
                <td>Rua Macapa 204, JD Aurora</td>
                <td>012398801</td>
                <td><h6 class="m-0"><span class="badge badge-info">Solicitado</span></h6></td>
            </tr>
            <tr>
                <td>10/10/2018 15:30</td>
                <td>PR</td>
                <td>Curitiba</td>
                <td>Rua Macapa 204, JD Aurora</td>
                <td>012398801</td>
                <td><h6 class="m-0"><span class="badge badge-info">Solicitado</span></h6></td>
            </tr>
            <tr>
                <td>10/10/2018 15:30</td>
                <td>PR</td>
                <td>Curitiba</td>
                <td>Rua Macapa 204, JD Aurora</td>
                <td>012398801</td>
                <td><h6 class="m-0"><span class="badge badge-info">Solicitado</span></h6></td>
            </tr>
            <tr>
                <td>10/10/2018 15:30</td>
                <td>PR</td>
                <td>Curitiba</td>
                <td>Rua Macapa 204, JD Aurora</td>
                <td>012398801</td>
                <td><h6 class="m-0"><span class="badge badge-info">Solicitado</span></h6></td>
            </tr>
        </tbody>
    </table>

    <nav class="mt-4 float-right">
      <ul class="pagination fs-14">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Próxima</a>
        </li>
      </ul>
    </nav>
{% endblock %}